
// Fonts
@import url('https://fonts.googleapis.com/css?family=Anton');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.img-fluid {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right:auto;
  margin-left:auto;
}

.underlinecolor {
  text-decoration: underline;
  text-decoration-color: black;
}

.marginauto {
  margin-right:auto;
  margin-left:auto;
}

@font-face {
  font-family: "Anton", sans-serif !important;
  src:url('https://fonts.googleapis.com/css?family=Anton');
}